* {
    box-sizing: border-box;
    margin: 0;
    padding:0; 
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
font-family:"Roboto", sans-serif;
max-width: 1024px;
color: #000;
background-color: #ffffff;
}

h2 {

    color:#000;
    text-align: center;
    margin: 30px auto;
    background-color: #fff;
}

ul {

   list-style: none; 
   padding-left: 0;

}

a {
    font-weight: bold;
  text-decoration: none;  
  text-transform: uppercase;
  color:black;
}

nav {

    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #f3f3f3;
    padding: 25px;
 
}

.centerpic {
display: block;
margin:5px auto 20px;
width:70%;
}

p {

    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .08em;
    text-align: center;
    margin: 0px 30px;
    color:#000;
}

/* Base Layers */

.container {
    max-width: 1100px;
    padding: 10px;
    margin:50px auto;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
}

.col {

    margin:10px;
    min-height: 250px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

.intro {
    background-color: #f3f3f3;
    

}

.one {

    padding: 30px;
}

img {

    width: 100%;
    height: auto;

   
} 

.port {

    background-color: #fff;
    margin:40px 0px 0px 0px;
  
    
}

.contact {

    word-spacing: 10px;
    margin:30px auto;
    line-height: 50px;
    background-color: #f3f3f3;

}

.con {

    background-color: #f3f3f3;
}

footer {
    border-top: dotted;
    padding: 0 20px;
    margin-top: auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
   font-family: "Roboto";
   font-size: 10px;
   background-color: #f3f3f3;
}

.full {

    display:none;
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {

  width: 100%;  
}

h1 a, .top-nav a {

    color:#000;
}

.top-nav {

    margin-top: 30px;
}

.top-nav li {
    padding:10px 0;
    margin: 5px auto;
    background-color: #fff;
}

.top-nav a {

    text-transform: uppercase;
}


/* Media Queries */

@media (min-width: 768px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        

    }

    .col {
        flex-basis: calc(50% - 20px);
    }

    

    .top-nav {
        margin-top: 0;
    }

    .top-nav li {

        display: inline-block;
        width:auto;
        margin:15px;
        background-color: transparent;
        

    }
    
    .intro {

        display:flex;
        flex-direction: row-reverse;
        
    }

    .top-nav li:last-child {

        margin-right: 0;
    }

    .top-nav a {

        color:rgb(0, 0, 0);
    }

    .top {
        display: none;
      }
      .full {
        display: inline-block;
        margin-left: 20px;
      }

}

@media (min-width: 1024px) {

.col {

    flex-basis: calc(33.333% - 20px);
}

    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav,
.top-nav li {

    width: initial;
    margin-bottom: 0;
}

}